{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<div class="retro-wave py-5 h-100">
		<div class="container-xxl ">
			<h1 class="text-secondary py-3 display-5">Toutes les séries :</h1>
			<div class="row g-4 ">
				{% for program in programs %}
					<div class="card-container col-md-3">
						<div class="card bg-primary p-0 h-100">
							<img src="{{ asset('build/images/breaking_bad.jpg') }}" class="card-img-top" alt="...">
							<div class="card-body">
								<h2 class="card-title">
									{{ loop.index }}
									-
									{{program.title}}
									({{program.id}})
								</h2>
								<p class="card-text text-light">{{program.synopsis}}</p>
								<a href="{{ path("program_show", { program: program.id }) }}" class="btn btn-light">Voir la fiche</a>
							</div>
							<strong>Acteurs :</strong>
							<ul>

								{% for actor in program.actors %}

									<li>{{ actor.name }}</li>

								{% else %}

									<li>Aucun acteur pour cette série</li>

								{% endfor %}

							</ul>
						</div>

					</div>

				{% else %}
					Aucune série trouvée.
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
